<<<<<<< HEAD
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #343a40;
    gap: 20px; 
}

.box {
    width: 50px;
    height: 50px;
    background-color: #ebf4fd;
    border: 2px solid #151515;
   
}
=======
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

>>>>>>> 80db2ae73e4c830193f1a146884be0d5d2ccaf59
